* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    padding: 50px;
    align-items: center;
    background-color: antiquewhite;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgb(153, 103, 62);
    background-color: white;
}

input:focus{
    border-color: rgb(62, 153, 145);
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    

}

button {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: 5px solid rgb(62, 153, 145);
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: rgb(62, 153, 145);
    color: white;
}

select {
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgb(153, 103, 62);
    background-color: white;
}
select:focus{
    border-color: rgb(62, 153, 145);
}


#input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#inputbox {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap:20px ;
    width: 100%;
}

#all {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 15px 40px;
    border-radius: 10px;
    width: 800px;
    height: fit-content;
    margin: auto;
}